/* General Styles */

.brsw-clickable:hover {
    cursor: pointer;
    box-shadow: 0 0 8px red;
}

.brsw-collapse-button.brsw-clickable {
    margin-bottom: 3px;
}



/* Styles for the card body */

.brws-common-modifiers {
    margin-bottom: 5px;
}

.brsw-selectable {
    padding: 0 4px 0 4px;
    margin: 2px 0 2px 2px;
    border: 1px solid darkgray;
    border-radius: 3px;
    font-size: 12px;
    white-space: nowrap;
    display: inline-block;
    line-height: 1.7;
}

.brsw-common-tools {
    justify-content: center;
    align-items: center;
}

.brsw-common-tool {
    margin: .25rem;
    height: 1.5rem;
    width: 1.5rem;
    padding-top: 2px;
}

.brsw-action {
    line-height: 1.7;
}

.brsw-action-json {
    width: 100%;
    min-height: 50px;
    border: 1px solid var(--color-border-dark);
    border-radius: 3px;
}

.brsw-new-action {
    width: 100%;
}

.brsw-world-actions footer {
    margin-top: auto;
}

.brsw-action-button {
    white-space: nowrap;
    margin-bottom: 0px;
    background-color: oklch(0.446 0.03 256.802);
}

.brsw-action-button-group {
    display: flex;
    gap: 0.25rem;
}

.brsw-world-actions button {
    width: 100%;
    flex: 3;
}

.brsw-selectable.brsw-selected {
    border-color: red red rgb(255, 100, 0);
    border-style: solid;
    border-width: 1px;
    box-shadow: rgb(255, 100, 0) 0 0 10px;
    background: red;
    color: white;
}

.brsw-collapsed {
    display: none !important;
}

.brsw-form-options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2px;
    align-items: center;
}

.brsw-label-options {
    margin: 2px;
    vertical-align: center;
}

.brsw-input-options {
    max-width: 30%;
}

.brsw-button-row {
    display: flex;
    gap: 0.25rem;
}

.brsw-card .brsw-button-row button {
    min-height: 1.75rem;
    height: 1.75rem;
}

.brsw-header-img {
    max-width: unset;
}

.brsw-item-subheading {
    font-size: 0.75rem;
    margin: .4rem 0 .2rem;
}

.brsw-card button.brsw-sub-button {
    min-height: fit-content;
    height: fit-content;
}

.brsw-consumable-charges {
    font-size: 0.75rem;
    margin: .4rem 0 .2rem;
    font-weight: 700;
}

.brsw-item-action-button-group {
    display: flex;
    flex-wrap: wrap;
    gap: 0.1rem;
    margin-bottom: 0.5rem;
}

/* Styles for the critical failure card */

.brsw-fumble-row {
    text-align: center;
    border-style: solid;
    border-radius: 5px;
    border-color: red;
}

/* Styles for the roll partial */

.brsw-roll-row {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    align-items: center;
    flex-wrap: wrap;
}

.brsw-roll-results-wrapper {
    padding: calc(var(--twbr-spacing) * 1);
    background-color: var(--twbr-color-gray-500);
    border: solid 1px var(--twbr-color-gray-700);
    border-radius: 0.25rem;
    margin-block: calc(var(--twbr-spacing) * 2);
}

.brsw-roll-results {
    display: flex;
    vertical-align: middle;
    justify-content: space-between;
    align-items: center;
}

.brsw-roll-values {
    display: flex;
}

.brsw-roll-value {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-right: calc(var(--twbr-spacing) * 2);
}

.brsw-roll-value-result-icon {
    margin-top: 0.3em;
    -webkit-text-stroke: 0.5px #000;
}

.brsw-roll-detail-row {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid;
    margin: 4px;
    padding: 4px;
}

.brsw-d4 {
    background-image: url("/modules/betterrolls-swade2/assets/dice_svg/d4-grey.svg");
}

.brsw-d6 {
    background-image: url("/modules/betterrolls-swade2/assets/dice_svg/d6-grey.svg");
}

.brsw-d8 {
    background-image: url("/modules/betterrolls-swade2/assets/dice_svg/d8-grey.svg");
}

.brsw-d10 {
    background-image: url("/modules/betterrolls-swade2/assets/dice_svg/d10-grey.svg");
}

.brsw-d12 {
    background-image: url("/modules/betterrolls-swade2/assets/dice_svg/d12-grey.svg");
}

.brsw-d4-fail {
    background-image: url("/modules/betterrolls-swade2/assets/dice_svg/d4-red.svg");
}

.brsw-d6-fail {
    background-image: url("/modules/betterrolls-swade2/assets/dice_svg/d6-red.svg");
}

.brsw-d8-fail {
    background-image: url("/modules/betterrolls-swade2/assets/dice_svg/d8-red.svg");
}

.brsw-d10-fail {
    background-image: url("/modules/betterrolls-swade2/assets/dice_svg/d10-red.svg");
}

.brsw-d12-fail {
    background-image: url("/modules/betterrolls-swade2/assets/dice_svg/d12-red.svg");
}

.brsw-d4-success {
    background-image: url("/modules/betterrolls-swade2/assets/dice_svg/d4-green.svg");
}

.brsw-d6-success {
    background-image: url("/modules/betterrolls-swade2/assets/dice_svg/d6-green.svg");
}

.brsw-d8-success {
    background-image: url("/modules/betterrolls-swade2/assets/dice_svg/d8-green.svg");
}

.brsw-d10-success {
    background-image: url("/modules/betterrolls-swade2/assets/dice_svg/d10-green.svg");
}

.brsw-d12-success {
    background-image: url("/modules/betterrolls-swade2/assets/dice_svg/d12-green.svg");
}

.brsw-d4-raise {
    background-image: url("/modules/betterrolls-swade2/assets/dice_svg/d4-blue.svg");
}

.brsw-d6-raise {
    background-image: url("/modules/betterrolls-swade2/assets/dice_svg/d6-blue.svg");
}

.brsw-d8-raise {
    background-image: url("/modules/betterrolls-swade2/assets/dice_svg/d8-blue.svg");
}

.brsw-d10-raise {
    background-image: url("/modules/betterrolls-swade2/assets/dice_svg/d10-blue.svg");
}

.brsw-d12-raise {
    background-image: url("/modules/betterrolls-swade2/assets/dice_svg/d12-blue.svg");
}

.brsw-dice-image {
    background-repeat: no-repeat;
    background-position: center;
    font-size: 15px;
    padding: 8px 8px 8px 8px;
    margin-left: 2px;
}

.brsw-button-image {
    border: none;
    vertical-align: text-bottom;
    max-width: 100%;
}

.brsw-small-dice-image {
    font-size: 13px;
    padding: 4px;
}

.brsw-discarded-roll {
    text-decoration: white line-through;
    color: lightgray;
}

.brsw-red-text {
    color: #fd0e35 !important;
}

.brsw-blue-text {
    color: blue !important;
}

.brsw-green-text {
    color: lawngreen !important;
}

.brsw-lime-text {
    color: lime;
}

.brsw-row-button {
    line-height: 80%;
    width: 2em;
    height: 2em;
    padding: 3px;
}

.brsw-small-font {
    font-size: 11px;
}

.brsw-old-rolls {
    border-top: solid lightgrey 2px;
}

/* Damage buttons */

.brsw-card .brsw-damage-button {
    width: 5.5em;
    min-height: 1.75rem;
}

.brsw-card .brsw-damage-roll {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 15px;
    padding: 8px;
    background-image: url("/icons/svg/combat.svg");
}

.brsw-ap-info {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 15px;
    padding: 8px;
    background-image: url("/icons/svg/lightning.svg");
}

.brsw-damage-calculation {
    border-bottom: 1px solid blue;
    margin: 4px;
    padding: 4px;
}

.brsw-apply-damage {
    width: 3em;
}

/* Damage card */
.brws-soak-benny {
    float: left;
    height: 2em;
}

/* Settings */
.brsw-section-title {
    text-align: left;
}

.brsw-check-cell {
    width: 10%;
}

.brsw-modifier-names-content .form-fields {
    flex: 1;
    margin: 0.5em auto;
}

.brsw-modifier-names-content button {
    width: 100%;
}

.brsw-optional-rules-content button {
    width: 100%;
}

.brsw-settings-config .form-fields {
    flex: 1;
}

.brsw-settings-config .tab {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

/* Chat tabs */
.brsw-chat-tab {
    margin-right: 6px;
    padding: 2px 2px 0 2px;
}

.brsw-tab-active {
    border: 1px solid #ff0000;
    border-radius: 5px 5px 0 0;
}

.brws-chat-tab-row {
    border-bottom: 1px solid #ff0000;
}

.brsw-gm-popup {
    position: absolute;
    background: var(--background);
    padding: 1rem;
}

.brsw-manual-popup {
    position: absolute;
    background: var(--background);
    padding: 1rem;
    z-index: 99999;
}

#br-card-dialog {
    width: fit-content;
    max-width: min-content;
    margin-right: 2%;
    padding: 3px;
    background: url("/ui/parchment.jpg") repeat;
    border: 3px solid #6f6c66;
    border-radius: 5px;
    max-height: 90%;

    display: flex;
    flex-direction: column;
}

#br-card-dialog > div {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
}

/* Tailwind hides all inputs with the collapse class */

.brsw-groove-border {
    border-bottom-style: groove;
}

#br-card-dialog .brsw-actions-scrollable {
    overflow-y: auto;
    flex: 1;
    min-height: 0;
}

#br-card-dialog .brsw-action-section {
    background-color: oklch(0.551 0.027 264.364);
    margin: 0.75rem;
    border-radius: 8px;
}

#br-card-dialog .brsw-action-section-groups {
    display: grid;
    grid-template-columns: repeat(3, minmax(max-content, 1fr));
}

#br-card-dialog .brsw-action-group {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0.5em;
    border-color: oklch(0.373 0.034 259.733);
    border-radius: 8px;
}

#br-card-dialog .brsw-action-group .brsw-action-group-name {
    margin-left: 0.75em;
    text-shadow: 1px 1px black;
    color: white;
    font-weight: bold;
}

#br-card-dialog .brsw-action-buttons {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    gap: 0.25rem;
}