{{>"modules/betterrolls-swade2/templates/common_card_header.html"}}
{{>"modules/betterrolls-swade2/templates/actions_partial.html"}}
<div class="brsw-form">
    {{# unless trait_roll.is_rolled }}
        <div class="brsw-button-row">
            <button class="brsw-roll-button brsw-form twbr:py-0.5 twbr:px-5 twbr:mr-2 twbr:mb-2
                    twbr:font-medium twbr:focus:outline-hidden twbr:bg-white twbr:rounded-lg
                    twbr:border twbr:border-solid twbr:focus:z-10 twbr:focus:ring-4
                    twbr:focus:ring-gray-700 twbr:text-gray-800 twbr:border-gray-600
                    twbr:hover:text-white twbr:hover:bg-gray-700">
                <i class="fas fa-dice"></i> {{ localize 'BRSW.Roll' }}
            </button>
        </div>
    {{/unless}}
</div>
{{# if trait_roll.is_rolled }}
    {{>"modules/betterrolls-swade2/templates/trait_roll_partial.html"}}
    {{>"modules/betterrolls-swade2/templates/trait_result_partial.html"}}
{{/if}}
