@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme) prefix(twbr);
@import "tailwindcss/utilities.css" layer(utilities) prefix(twbr);

@layer components {
    *,
    ::before,
    ::after {
        --tw-ring-inset:  ;
        --tw-ring-offset-width: 0px;
        --tw-ring-offset-color: #fff;
        --tw-ring-color: rgb(59 130 246 / 0.5);
        --tw-ring-offset-shadow: 0 0 #0000;
        --tw-ring-shadow: 0 0 #0000;
    }
}
